.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family:  sans-serif;
}

.container h1{
 font-size: 60px;
}

.sub-container{
    padding: 20px;
    box-shadow: 1px 1px 19px 4px violet;
    border-radius: 5px;
}

 .showItem .eachItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    margin-left: 20px;
}
.container .addItems input{
    width: 400px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
}

.container .addItems input::placeholder{
    font-size: 20px;
    color: gray;

}

.container .addItems i{
    background: #fff;
    color: gray;
    padding: 22px;

}

.container .addItems button{
    background: #007bff;
    color: #fff;
    font-size: 22px;
    padding: 19Px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.showItem{
    background: #fff;
    border-radius: 5px;
    font-size: 20px;
    color: gray;
    margin-top: 20px;
    max-height: 300px;
    box-shadow: 1px 1px 19px 4px violet;
    overflow: auto;
    width: 525px;
    overflow: auto;
}

.showItem .eachItem{
    margin-top: 20px;
}


.showItem .eachItem .todo-btn i{
    color: red;
}

.showItems{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.showItems button{
    background: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 14Px;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.showItems button:hover .defaultText{
    display: none;
}

.showItems button .hoverText{
    display: none;
}

.showItems button:hover .hoverText{
    display: inline;
}


/* Media queries for responsiveness */

@media only screen and (max-width: 768px){
    .container h1 {
        font-size: 55px;
    }

    .sub-container {
        padding: 15px;
        margin-right: 10px;
    }

    .container .addItems input {
        width: 355px;
        padding: 15px;
        font-size: 15px;
        margin-left: 30px;
    }

    .container .addItems button {
        font-size: 17px;
        padding: 15Px;
    }

    .showItems button {
        font-size: 18px;
        padding: 15Px;
        width: 145px;
    }

    .sub-container .addItems{
       padding: 15px;
    }
    .showItem {
        width: 450px;
        margin-left: 43px; 
    }
}


@media only screen and (max-width: 427px){
    .container h1 {
        font-size: 35px;
    }

    .container .addItems input {
        width: 260px;
        padding: 10px;
        font-size: 12px;
        margin-left: 4px;
    }

    .container .addItems button {
        font-size: 14px;
        padding: 10Px;
    }

    .showItems button {
        font-size: 15px;
        padding: 12Px;
        width: 135px;
    }
    .container .addItems input::placeholder{
        font-size: 15px;
        color: gray;
    
    }

    .sub-container .addItems {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .showItem {
        width: 320px;
        margin-left: 15px;
        font-size: 15px;
    }

    .sub-container {
        padding: 15px;
        margin-right: 6px;
        width: 350px;
    }
}

@media only screen and (max-width: 378px){
    .container h1 {
        font-size: 30px;
    }

    .container .addItems input {
        width: 250px;
        padding: 11px;
        font-size: 12px;
    }

    .showItems button {
        font-size: 12px;
        padding: 12Px;
        width: 120px;
    }

    .container .addItems input::placeholder{
        font-size: 15px;
        color: gray;
    
    }

    .showItem {
        width: 280px;
        margin-left: 20px;
        font-size: 15px;
    }

    .sub-container {
        padding: 15px;
        margin-right: -2px;
        width: 315px;
    }
}

@media only screen and (max-width: 322px){
    .container h1 {
        font-size: 25px;
    }

    .container .addItems input {
        width: 300px;
        padding: 10px;
        font-size: 12px;
        margin-left: 10px;
    }

    .showItems button {
        font-size: 11px;
        padding: 11Px;
        width: 115px;
    }


    body{
        background: linear-gradient(255deg, #f403d1, #64b5f6);
    }

    .container .addItems input::placeholder{
        font-size: 12px;
        color: gray;
    
    }

    .showItem {
        width: 252px;
        margin-left: 4px;
        font-size: 12px;
    }

    .sub-container {
        padding: 14px;
        margin-right: -1px;
        width: 270px;
    }

    .container .addItems input {
        width: 300px;
        padding: 10px;
        font-size: 12px;
        margin-left: -10px;
    }

}




